#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-content {
  overflow-y: hidden;
}

ion-menu {
  ion-content {
    --ion-background-color: white;
  }
  //  --width: 90%;
}

.engine-item {
  width: 25px;
  height: auto;
  float: right;
  margin-right: 10px;
}
//PORTRAIT STYLES//
//@media all and (orientation: portrait) {

.foto-item {
  grid-column: var(--col-pic-port);
  grid-row: var(--row-pic-port);
  border-top: var(--border-top-pic-port);
  border-bottom: var(--border-bottom-pic-port);
  border-left: var(--border-left-pic-port);
  border-right: var(--border-right-pic-port);
  align-items: center;
  //  border: solid white 1px;
  padding-top: 5%;
  overflow: hidden;
}

.logo2-item {
  grid-column: var(--col-logo2-port);
  grid-row: var(--row-logo2-port);
  align-items: center;
  border-top: var(--border-top-logo2-port);
  border-bottom: var(--border-bottom-logo2-port);
  border-left: var(--border-left-logo2-port);
  border-right: var(--border-right-logo2-port);
  //  border: solid white 1px;
  padding-top: 5%;
  overflow: hidden;
}

.logo3-item {
  grid-column: var(--col-logo3-port);
  grid-row: var(--row-logo3-port);
  align-items: center;
  //  border: solid white 1px;
  padding-top: 5%;
  overflow: hidden;
  border-top: var(--border-top-logo3-port);
  border-bottom: var(--border-bottom-logo3-port);
  border-left: var(--border-left-logo3-port);
  border-right: var(--border-right-logo3-port);
}

.logoe-item {
  grid-column: var(--col-logoe-port);
  grid-row: var(--row-logoe-port);
  align-items: center;
  border-top: var(--border-top-logoe-port);
  border-bottom: var(--border-bottom-logoe-port);
  border-left: var(--border-left-logoe-port);
  border-right: var(--border-right-logoe-port);
  padding-top: 5%;
  overflow: hidden;
}

.qr2-item {
  grid-column: var(--col-qr2-port);
  grid-row: var(--row-qr2-port);
  border-top: var(--border-top-qr2-port);
  border-bottom: var(--border-bottom-qr2-port);
  border-left: var(--border-left-qr2-port);
  border-right: var(--border-right-qr2-port);
}

.qr-item {
  grid-column: var(--col-qr-port);
  grid-row: var(--row-qr-port);
  align-items: center;
  border-top: var(--border-top-qr-port);
  border-bottom: var(--border-bottom-qr-port);
  border-left: var(--border-left-qr-port);
  border-right: var(--border-right-qr-port);
  padding-top: 5%;
}

.details-item {
  grid-column: var(--col-det-port);
  grid-row: var(--row-det-port);
  align-items: center;
  border-top: var(--border-top-det-port);
  border-bottom: var(--border-bottom-det-port);
  border-left: var(--border-left-det-port);
  border-right: var(--border-right-det-port);
  padding: 0;
  margin: 0;
  overflow: auto;
  word-wrap: break-word; //  padding-top:5%;
}

.foto-src-item {
  width: 100%;
  height: auto;
}

.label-det-item {
  color: var(--color-title-det-port);
  font-size: var(--font-size-title-det-port);
  font-family: var(--font-family-title-det-port);
  text-align: var(--justify-title-det-port);
  margin: 0;
}

.value-det-item {
  color: var(--color-det-port);
  font-size: var(--font-size-det-port);
  font-family: var(--font-family-det-port);
  text-align: var(--justify-det-port);
  margin: 0;
}

.seccion1-item {
  overflow: auto;
  grid-column: var(--col-det2-port);
  grid-row: var(--row-det2-port);
  align-items: center;
  border-top: var(--borer-top-det2-port);
  border-bottom: var(--borer-bottom-det2-port);
  border-left: var(--borer-left-det2-port);
  border-right: var(--borer-right-det2-port);
}

.label-det2-item {
  color: var(--color-title-det2-port);
  font-size: var(--font-size-title-det2-port);
  font-family: var(--font-family-title-det2-port);
  text-align: var(--justify-title-det2-port);
  margin: 0;
}

.value-det2-item {
  color: var(--color-det2-port);
  font-size: var(--font-size-det2-port);
  font-family: var(--font-family-det2-port);
  text-align: var(--justify-det2-port);
  margin: 0;
}

.seccion2-item {
  overflow: auto;
  grid-column: var(--col-det3-port);
  grid-row: var(--row-det3-port);
  align-items: center;
  border-top: var(--borer-top-det3-port);
  border-bottom: var(--borer-bottom-det3-port);
  border-left: var(--borer-left-det3-port);
  border-right: var(--borer-right-det3-port);
}

.label-det3-item {
  color: var(--color-title-det3-port);
  font-size: var(--font-size-title-det3-port);
  font-family: var(--font-family-title-det3-port);
  text-align: var(--justify-title-det3-port);
  margin: 0;
}

.value-det3-item {
  color: var(--color-det3-port);
  font-size: var(--font-size-det3-port);
  font-family: var(--font-family-det3-port);
  text-align: var(--justify-det3-port);
  margin: 0;
}

.seccion3-item {
  overflow: auto;
  grid-column: var(--col-det4-port);
  grid-row: var(--row-det4-port);
  align-items: center;
  border-top: var(--borer-top-det4-port);
  border-bottom: var(--borer-bottom-det4-port);
  border-left: var(--borer-left-det4-port);
  border-right: var(--borer-right-det4-port);
}

.label-det4-item {
  color: var(--color-title-det4-port);
  font-size: var(--font-size-title-det4-port);
  font-family: var(--font-family-title-det4-port);
  text-align: var(--justify-title-det4-port);
  margin: 0;
}

.value-det4-item {
  color: var(--color-det4-port);
  font-size: var(--font-size-det4-port);
  font-family: var(--font-family-det4-port);
  text-align: var(--justify-det4-port);
  margin: 0;
}

.footer-icons {
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  --ion-background-color: var(--footercolor-port);
  height: 60px;
}
//}
//END PORTRAIT//
//LANDSCAPE STYLES//}
/*
@media all and (orientation: landscape) {








  .foto-item {
    grid-column: var(--col-pic-land);
    grid-row: var(--row-pic-land);
    border-top: var(--border-top-pic-land);
    border-bottom: var(--border-bottom-pic-land);
    border-left: var(--border-left-pic-land);
    border-right: var(--border-right-pic-land);
    align-items: center;
    //  border: solid white 1px;
    padding-top: 5%;
    overflow: hidden;
  }

  .logo2-item {
    grid-column: var(--col-logo2-land);
    grid-row: var(--row-logo2-land);
    align-items: center;
    border-top: var(--border-top-logo2-land);
    border-bottom: var(--border-bottom-logo2-land);
    border-left: var(--border-left-logo2-land);
    border-right: var(--border-right-logo2-land);
    //  border: solid white 1px;
    padding-top: 5%;
    overflow: hidden;
  }

  .logo3-item {
    grid-column: var(--col-logo3-land);
    grid-row: var(--row-logo3-land);
    align-items: center;
    //  border: solid white 1px;
    padding-top: 5%;
    overflow: hidden;
    border-top: var(--border-top-logo3-land);
    border-bottom: var(--border-bottom-logo3-land);
    border-left: var(--border-left-logo3-land);
    border-right: var(--border-right-logo3-land);
  }

  .logoe-item {
    grid-column: var(--col-logoe-land);
    grid-row: var(--row-logoe-land);
    align-items: center;
    border-top: var(--border-top-logoe-land);
    border-bottom: var(--border-bottom-logoe-land);
    border-left: var(--border-left-logoe-land);
    border-right: var(--border-right-logoe-land);
    padding-top: 5%;
    overflow: hidden;
  }

  .qr2-item {
    grid-column: var(--col-qr2-land);
    grid-row: var(--row-qr2-land);
    border-top: var(--border-top-qr2-land);
    border-bottom: var(--border-bottom-qr2-land);
    border-left: var(--border-left-qr2-land);
    border-right: var(--border-right-qr2-land);
  }

  .qr-item {
    grid-column: var(--col-qr-land);
    grid-row: var(--row-qr-land);
    align-items: center;
    border-top: var(--border-top-qr-land);
    border-bottom: var(--border-bottom-qr-land);
    border-left: var(--border-left-qr-land);
    border-right: var(--border-right-qr-land);
    padding-top: 5%;
  }

  .details-item {
    grid-column: var(--col-det-land);
    grid-row: var(--row-det-land);
    align-items: center;
    border-top: var(--border-top-det-land);
    border-bottom: var(--border-bottom-det-land);
    border-left: var(--border-left-det-land);
    border-right: var(--border-right-det-land);
    padding: 0;
    margin: 0;
    overflow: auto;
    word-wrap: break-word; //  padding-top:5%;
  }

  .foto-src-item {
    width: 100%;
    height: auto;
  }

  .label-det-item {
    color: var(--color-title-det-land);
    font-size: var(--font-size-title-det-land);
    font-family: var(--font-family-title-det-land);
    text-align: var(--justify-title-det-land);
    margin: 0;
  }

  .value-det-item {
    color: var(--color-det-land);
    font-size: var(--font-size-det-land);
    font-family: var(--font-family-det-land);
    text-align: var(--justify-det-land);
    margin: 0;
  }

  .seccion1-item {
    overflow: auto;
    grid-column: var(--col-det2-land);
    grid-row: var(--row-det2-land);
    align-items: center;
    border-top: var(--borer-top-det2-land);
    border-bottom: var(--borer-bottom-det2-land);
    border-left: var(--borer-left-det2-land);
    border-right: var(--borer-right-det2-land);
  }

  .label-det2-item {
    color: var(--color-title-det2-land);
    font-size: var(--font-size-title-det2-land);
    font-family: var(--font-family-title-det2-land);
    text-align: var(--justify-title-det2-land);
    margin: 0;
  }

  .value-det2-item {
    color: var(--color-det2-land);
    font-size: var(--font-size-det2-land);
    font-family: var(--font-family-det2-land);
    text-align: var(--justify-det2-land);
    margin: 0;
  }

  .seccion2-item {
    overflow: auto;
    grid-column: var(--col-det3-land);
    grid-row: var(--row-det3-land);
    align-items: center;
    border-top: var(--borer-top-det3-land);
    border-bottom: var(--borer-bottom-det3-land);
    border-left: var(--borer-left-det3-land);
    border-right: var(--borer-right-det3-land);
  }

  .label-det3-item {
    color: var(--color-title-det3-land);
    font-size: var(--font-size-title-det3-land);
    font-family: var(--font-family-title-det3-land);
    text-align: var(--justify-title-det3-land);
    margin: 0;
  }

  .value-det3-item {
    color: var(--color-det3-land);
    font-size: var(--font-size-det3-land);
    font-family: var(--font-family-det3-land);
    text-align: var(--justify-det3-land);
    margin: 0;
  }

  .seccion3-item {
    overflow: auto;
    grid-column: var(--col-det4-land);
    grid-row: var(--row-det4-land);
    align-items: center;
    border-top: var(--borer-top-det4-land);
    border-bottom: var(--borer-bottom-det4-land);
    border-left: var(--borer-left-det4-land);
    border-right: var(--borer-right-det4-land);
  }

  .label-det4-item {
    color: var(--color-title-det4-land);
    font-size: var(--font-size-title-det4-land);
    font-family: var(--font-family-title-det4-land);
    text-align: var(--justify-title-det4-land);
    margin: 0;
  }

  .value-det4-item {
    color: var(--color-det4-land);
    font-size: var(--font-size-det4-land);
    font-family: var(--font-family-det4-land);
    text-align: var(--justify-det4-land);
    margin: 0;
  }

*/
@media all and (orientation: landscape) {
  .footer-icons {
    display: none;
  }
}
//END LANDSCAPE//


@media all and (orientation: portrait) {
  .pullup-item{
    display: none;
  }
}

.header-menu-item{
  --ion-background-color: var(--headercolor-port);
}
.tab{
  background: var(--urls-color);
}

.toolbar-pullup-item{
  height:30px;
  --background: var(--urls-color);
  border-radius:10px 10px 0px 0px;
}


.icon-item {
  height: auto;
  width: 60px;
  display: inline-block;
}

ion-item {
  --ion-background-color: transparent;
}

ion-content {
  --ion-background-color: var(--bkcolor-port); //  --background: url(var(--bkimage-port)) 0 0/100% 100% no-repeat;
}

.header-items {
  --ion-background-color: var(--headercolor-port);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
