<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <img src="/assets/images/engine.png" alt="" class="engine-item" (click)="openFirst()">

   </ion-toolbar>
</ion-header>
<ion-menu side="end" menuId="first" contentId="main" class="menu-side-item">

  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list >


      <ion-item>Notificaciones<ion-toggle   (ionChange)="notifyChange($event)"></ion-toggle>
      </ion-item>

      <ion-item>Credenciales</ion-item>

      <ion-radio-group  (ionChange)="changedCompany($event)">
      <ion-item *ngFor="let data of dataUser.companies">
        <img src="{{data.logo}}" alt="company item" style="margin-right:10px; height:35px;width:auto;">
        {{data.name}}
         <ion-radio value="{{data.name}}" checked="true" ></ion-radio>
      </ion-item>

      </ion-radio-group>
      <ion-thumbnail class="logo-item"   style="float:left;">
        <img src="/assets/images/canaco2.png" alt="Contains a logo picture" style="border-radius:9px;">
      </ion-thumbnail>

      <ion-thumbnail class="logo-item"  style="float:right;" >
        <img src="/assets/images/canaco3.png" alt="Contains a logo picture" style="border-radius:9px;">
      </ion-thumbnail>


      <div class="vigencia">
        <p>{{dataUser.caducidad}}</p>
      </div>
      <ion-item>
        <ion-button style="float:right;bottom:70px;right10px;" (click)="logout()" color="tertiary">Cerrar sesion</ion-button>

      </ion-item>
     


    </ion-list>
  </ion-content>
</ion-menu>
<ion-content [fullscreen]="true" class="has-footer has-header" id="main">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>




<div style=" height:100%;width:100%; display: grid;grid-auto-rows: 1fr;    grid-auto-columns:1fr; border:solid white 1px; grid-gap: 1px;">

  <ion-thumbnail class="logo-item"   >
    <img src="/assets/images/canaco1.png" alt="Contains a logo picture" style="border-radius:9px;">
  </ion-thumbnail>

  <div class="picture-item" >
    <ion-thumbnail class="picture-src-item" (click)="selectImage()" style="width:100%;height:auto;">
      <img src="{{profilePictureTaken}}" style="border-radius:5px; " onError="src = '/assets/images/profilep.png'">

    </ion-thumbnail>

  </div>

  <div class="qr-item-div">
    <ion-item  >
    <ngx-qrcode [value]="createdCode" class="qr-item">
    </ngx-qrcode>

  </ion-item>
    </div>



  <div class="info-item">
    <p *ngIf="dataUser.nombre" class="name-lbl">Nombre</p>
    <h1 *ngIf="dataUser.nombre" class="name-item">{{dataUser.nombre}}</h1>
  <!--  <p *ngIf="dataUser.puesto" class="name-lbl">Puesto</p>
    <h1 *ngIf="dataUser.puesto" class="number-item">{{dataUser.puesto}}</h1>
    <p *ngIf="dataUser.curp" class="number-lbl">CURP</p>
    <h2 *ngIf="dataUser.curp" class="number-item">{{dataUser.curp}}</h2> -->



      <p *ngIf="dataUser.nsocio" style="font-size:1em;"><a style="font-size:1em;color:rgb(156,119,40);">No. </a>SOCIO</p>
      <h2 *ngIf="dataUser.nsocio" class="nsocio-item">{{dataUser.nsocio}}</h2>

  </div>
  <ion-thumbnail class="logo-item-botommr" >
    <img src="/assets/images/canaco2020.png" alt="Contains a logo picture" style="border-radius:9px;height:65px;width:auto;">
  </ion-thumbnail>

</div>

 </ion-content>


<ion-toolbar color="secondary" class="footer-icons">
  <ion-item class="icon-item">
    <a href="https://www.entersl.com.mx"> <img src="/assets/images/enterlogo.png" alt="company logo" class="img-icon">
    </a>
  </ion-item>
  <ion-item *ngFor="let data of dataIcons" class="icon-item">
    <a href="{{data.url}}"> <img src="{{data.logo}}" alt="company item" class="img-icon">

    </a>
  </ion-item>
</ion-toolbar>
