#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-content {
  overflow-y: hidden;
}

ion-menu {
  ion-content {
    --ion-background-color: white;
  }
}

.engine-item {
  width: 25px;
  height: auto;
  float: right;
  margin-right: 10px;
}
//PORTRAIT STYLES//
@media all and (orientation: portrait) {
  .foto-item {
    grid-column: var(--col-pic-port);
    grid-row: var(--row-pic-port);
    align-items: center;
  //  border: solid white 1px;
    padding-top: 5%;
    overflow: hidden;
  }

  .logo2-item {
    grid-column: var(--col-logo2-port);
    grid-row: var(--row-logo2-port);
    align-items: center;
  //  border: solid white 1px;
    padding-top: 5%;
    overflow: hidden;
  }

  .logo3-item {
    grid-column: var(--col-logo3-port);
    grid-row: var(--row-logo3-port);
    align-items: center;
  //  border: solid white 1px;
    padding-top: 5%;
    overflow: hidden;
  }

  .logoe-item{
    grid-column: var(--col-logoe-port);
    grid-row: var(--row-logoe-port);
    align-items: center;
  //  border: solid white 1px;
    padding-top:5%;
    overflow: hidden;
  }

.qr-item{

  grid-column: var(--col-qr-port);
  grid-row: var(--row-qr-port);
  align-items: center;
//  border: solid white 1px;
  padding-top:5%;
 }

.details-item{
  grid-column: var(--col-det-port);
  grid-row: var(--row-det-port);
  align-items: center;
//  border: solid white 1px;
  padding :0;
  margin:0;
  overflow: auto;
  word-wrap: break-word;
//  padding-top:5%;
}

  .foto-src-item {
    width: 100%;
    height: auto;
  }

.label-det-item{
  color:var(--color-title-port);
  font-size: var(--font-size-title-port);
  font-family: var(--font-family-title-port);
  text-align: var(--justify-title-port);
margin: 0;
 }

.value-det-item{
  color:var(--color-det-port);
  font-size: var(--font-size-det-port);
  font-family: var(--font-family-det-port);
  text-align: var(--justify-det-port);
  margin:0;

}
  .seccion1-item{
    overflow: auto;

  }

  .seccion2-item{
    overflow: auto;

  }

  .seccion3-item{
    overflow: auto;


  }


}
//END PORTRAIT//
//LANDSCAPE STYLES//
@media all and (orientation: landscape) {}
//END LANDSCAPE//

.icon-item {
  height: auto;
  width: 60px;
}

ion-item {
  --ion-background-color: transparent;
}

.footer-icons {}

ion-content {
  --ion-background-color: rgb(21,32,63);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
